################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MPCProject/FileContentIndex/f9172140-799b-409f-b997-7cf2f3139c7b.vsidx
/.gitignore
/.vs/MPCProject/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
